<div class="pagina" style="background-image: url('img/bg-01.jpeg');">
    <div class="wrap-summary">
        <div class="text-center row-col mb-5">
            <h2>Ci scusiamo per il disagio</h2>
            <h4>Ti abbiamo asseganto un nuovo posto tra quelli disponibili.</h4><br>
        </div>

        <div class="text-center row-col">
            <label style="font-size: 20px"> Il Tuo nuovo posto è: <br>Posto # <b>{{nuovoposto}}</b><br>Piano #
                <b>{{nuovolivello}}</b></label>
        </div>
    </div>
</div>