<div class="pagina" style="background-image: url('img/bg-01.jpeg');">
    <div class="wrap-register">

        <div class="text-center row-col mb-4">
            <h2>SEGNALAZIONE</h2>
        </div>

        <div class="row">
            <div class="col-sm-6">

                <form action="/uploadFile" enctype="multipart/form-data" method="post">
                    <div class="text-center row">

                        <div class="fileUpload form-col mb-4 ">
                            <input type="file" name="file-to-upload" id="upload" multiple="multiple">
                        </div>
                        <div class="col">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
                        </div>

                    </div>
                </form>

                <form action="/nuovoposto" method="post">
                    <div class="form-row mt-5 mb-3">
                        <label><b> Seleziona data </b></label>
                        <input placeholder="Select date" type="date" class="form-control" name="data" value="{{data}}"
                               required>
                    </div>
                    <div class="form-row mb-3">
                        <label><b> Inserisci la tua targa </b></label>
                        <input type="text" class="form-control" placeholder="er234re" name="targa1" value="{{license}}"
                               required>
                    </div>
                    <div class="form-row mb-3">
                        <label> <b>Inserisci la sua targa</b></label>
                        <input type="text" class="form-control" placeholder="er234re" name="targa2" required>
                    </div>
                    <div class="form-row">
                        <button class="btn btn-lg btn-primary btn-block mt-4 mb-1" type="submit">Invia Richiesta
                        </button>

                    </div>
                </form>
            </div>
            <div class="col-sm-6">

                <div class="row mt-3 mb-5">
                    <div class="text-center col-sm-1">
                        <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white">1</strong>
                        </span>
                    </div>
                    <div class="text-center col">
                        Carica la foto come prova.<br>
                        Assicurati di far vedere bene il numero del Parcheggio e la Targa dell'auto che è sul tuo posto.
                        <br><br><br><br>
                    </div>
                </div>

                <div class="row mt-5 mb-5">
                    <div class="col-sm-1">
                        <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white">2</strong>
                        </span>
                    </div>
                    <div class="text-center col">
                        Compila i Campi richiesti.
                        <br><br><br><br><br>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-sm-1">
                        <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white">3</strong>
                        </span>
                    </div>
                    <div class="text-center col">
                        Clicca sul pulsante e ti verrà asseganto automaticamente un nuovo posto disponibile.
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


